@import "tailwindcss";

@layer base {
    * {
        @apply tracking-wider;
    }

    input, button {
        @apply text-[12px] p-2 rounded-xl tracking-wider focus:outline-0 transition-all;
    }

    button {
        @apply hover:cursor-pointer hover:opacity-90;
    }

    p {
        @apply text-[12px];
    }

    h1 {
        @apply text-[20px];
    }
}

@layer components {
    #root {
        @apply flex-center flex-col min-h-screen bg-gray-100 overflow-hidden;
    }

    #logo {
        @apply text-2xl opacity-80 transition-all text-shadow-sm hover:opacity-100 cursor-pointer z-40;
        animation: zoomOut 0.3s ease-in-out;
    }

    .watchlist-btn-main {
        @apply bg-[#121212] shadow-lg shadow-gray-400 text-white text-[16px] p-1.5 w-[35px] h-[35px] absolute right-5 top-5 overflow-hidden transition-all;
        animation: fadeIn 0.5s ease-out;
    }

    #search-bar {
        @apply flex-center gap-2.5 mt-5 z-30;
        animation: slideUp 0.5s ease-in-out;
    }

    #search-bar > input {
        @apply bg-white min-w-[300px] shadow-lg shadow-neutral-200;
    }

    #search-bar > button {
        @apply bg-[#121212] text-white min-w-[35px] shadow-gray-400 shadow-lg;
    }

    .query-message {
        @apply mt-10;
    }

    .movie-grid {
        @apply grid-center my-5 grid-cols-2 md:grid-cols-3 lg:grid-cols-5 ;
    }

    .card {
        @apply rounded-xl bg-white p-3 shadow-lg shadow-neutral-200;
    }

    .movie-grid .card {
        @apply w-[150px] flex-list flex-col transition-all hover:translate-y-[-5px] hover:cursor-pointer duration-300 gap-2 relative overflow-hidden;
        animation: slideUp 0.5s ease-out;
    }

    .movie-grid .card > .watchlist-btn {
        @apply bg-blue-600 shadow-lg shadow-gray-800 text-white p-[2px] w-[30px] h-[30px] absolute right-2 top-2 hover:opacity-100 has-[.bi-check-lg]:bg-green-600 transition-all;
        animation: zoomIn 0.3s ease-out;
    }

    .movie-grid .card img {
        @apply w-100 h-[150px] object-cover text-[12px];
    }

    .movie-grid .card h5 {
        @apply text-[13px] font-semibold;
    }

    .failed {
        @apply text-red-950 mt-6 p-3;
    }

    .pagination-info {
        @apply my-2 text-[10px];
    }

    .pagination {
        @apply flex-center gap-1.5;
    }

    .pagination button {
        @apply enabled:bg-[#fafafa] shadow-lg disabled:hover:cursor-default;
    }

    .modal-overlay {
        @apply fixed inset-0 bg-[#000000bb] flex-center flex-col z-50 p-5;
        animation: fadeIn 0.3s ease-out;
    }

    .modal-overlay > .close-msg {
        @apply mb-5 text-white tracking-widest;
    }

    .modal-content {
        @apply bg-white rounded-2xl max-w-[700px] w-[100%] max-h-[90vh] relative overflow-y-auto;
        animation: slideUp 0.5s ease-out;
    }

    .modal-body {
        @apply flex flex-col gap-6 p-6 md:flex-row;
    }

    .modal-poster {
        @apply w-full max-w-[250px] h-auto rounded-xl object-cover;
    }

    .model-info {
        @apply flex-1;
    }


    .modal-title {
        @apply text-2xl font-bold mb-1;
    }

    .modal-year {
        @apply text-[#666] text-[15px] mb-4;
    }

    .modal-stats {
        @apply flex gap-10 mb-4 bg-[#f8f9fa] rounded-lg p-4;
    }

    .stat {
        @apply flex flex-col gap-1;
    }

    .stat-label {
        @apply text-xs text-[#666] font-semibold;
    }

    .stat-value {
        @apply text-sm font-bold;
    }

    .modal-section {
        @apply mb-3 text-xs;
    }

    .modal-section strong {
        @apply font-semibold text-[#333];
    }

    .modal-plot {
        @apply mt-2 text-[#555] leading-5.5;
    }

    .modal-watchlist-btn {
        @apply mt-6 w-full p-3 bg-[#2563eb] text-white text-sm flex-center gap-2 border-none rounded-xl font-semibold hover:cursor-pointer hover:-translate-y-0.5 hover:bg-[#1d4ed8] transition-all duration-300;
    }

    .modal-watchlist-btn.in-list {
        @apply bg-[#16a34a] hover:bg-[#15803d]
    }

    .modal-error {
        @apply py-15 px-5 text-center;
    }

    .modal-error p {
        @apply mb-4 text-[#ef4444] font-semibold;
    }

    .modal-error button {
        @apply bg-[#121212] text-white py-2 px-6 rounded-lg border-none hover:cursor-pointer;
    }
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility flex-list {
    @apply flex flex-col items-center;
}

@utility grid-center {
    @apply grid gap-3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 0;
        transform: scale(15);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}